In [72]:
import pandas as pd
import nltk 

#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('stopwords')

from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 

import string

wordnet_lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [106]:
#event_list = pd.read_csv("/content/input.csv")
employee_list = pd.read_csv("/content/CCMLEmployeeData.csv")

In [93]:
employee_list

                   Name                 Domain          Event1          Event2
0           Bryan Brock             Management            Jobs      Hackathons
1       Joseph Sullivan                 Coding  Certifications        Webinars
2         Sherri Dawson               Security     Internships           Fests
3       Dustin Ferguson               Hardware    Competitions        Webinars
4           Kayla Young        Web Development           Expos  Certifications
..                  ...                    ...             ...             ...
178      Katelyn Barnes                 Coding         Courses        Webinars
179        Gabriel Cruz                  Other           Talks           Fests
180  Christina Williams  Software Architecture           Talks           Fests
181      William Turner  Development Processes       Trainings        Seminars
182          Damon Lane                      C        Seminars     Internships

[183 rows x 4 columns]

In [107]:
# cleaning datafile
employee_list['Event1'] = employee_list['Domain']+" "+  employee_list['Event1']
employee_list['Event2'] = employee_list['Domain']+" "+  employee_list['Event2']
employee_list.drop("Domain",axis = 1)

                   Name  ...                          Event2
0           Bryan Brock  ...           Management Hackathons
1       Joseph Sullivan  ...                 Coding Webinars
2         Sherri Dawson  ...                  Security Fests
3       Dustin Ferguson  ...               Hardware Webinars
4           Kayla Young  ...  Web Development Certifications
..                  ...  ...                             ...
178      Katelyn Barnes  ...                 Coding Webinars
179        Gabriel Cruz  ...                     Other Fests
180  Christina Williams  ...     Software Architecture Fests
181      William Turner  ...  Development Processes Seminars
182          Damon Lane  ...                   C Internships

[183 rows x 3 columns]

### Model no. 1(for event 1)

In [109]:
data = employee_list.drop('Event2',axis = 1)

In [148]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

x_train, x_test, y_train, y_test = train_test_split(data['Event1'], data['Name'], train_size=0.8)
vectorizer = TfidfVectorizer().fit(x_train)
x_train_v = vectorizer.transform(x_train)
x_test_v  = vectorizer.transform(x_test)

model = LogisticRegression()     
model.fit(x_train_v, y_train)    
y_pred = model.predict(x_test_v)

In [142]:
event = "python certification"

In [90]:
def process_text(event):

  # tokenization  
  tokens =  nltk.word_tokenize(event)
  filtered_sentence = []

  #lemmantization
  for w in tokens:
    wordnet_lemmatizer.lemmatize(w)
    
    # convert to lower
    w.lower()

    # removing stop words
    if w not in stop_words: 
        filtered_sentence.append(w)
          
    # remove punctuations and empty strings
    filtered_sentence = [''.join(c for c in s if c not in string.punctuation) for s in filtered_sentence]
    filtered_sentence = [s for s in filtered_sentence if s]  
 
  return filtered_sentence

In [143]:
test1 = process_text(event)

In [144]:
from nltk.tokenize.treebank import TreebankWordDetokenizer
TreebankWordDetokenizer().detokenize(test1)

'python certification'

In [145]:
test1 = vectorizer.transform(test1)