In [72]:
import pandas as pd
import nltk 

#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('stopwords')

from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords 

import string

wordnet_lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [32]:
#event_list = pd.read_csv("/content/input.csv")
employee_list = pd.read_csv("/content/CCMLEmployeeData.csv")

In [33]:
employee_list.head(20)

                Name                   Domain          Event1          Event2
0        Bryan Brock               Management            Jobs      Hackathons
1    Joseph Sullivan                   Coding  Certifications        Webinars
2      Sherri Dawson                 Security     Internships           Fests
3    Dustin Ferguson                 Hardware    Competitions        Webinars
4        Kayla Young          Web Development           Expos  Certifications
5      Angela Stokes         Higher Education       Workshops        Seminars
6      Curtis Ortega                      IoT  Certifications         Courses
7         Andrew Cox                   Coding            Jobs  Certifications
8     Russell Vargas                     Java       Trainings           Expos
9       David Foster                 Security  Certifications         Courses
10     Pamela Burton          Web Development     Internships           Fests
11     Joshua Miller               Management            Jobs  Certifications
12     Deborah Young  Artificial Intelligence           Expos        Webinars
13        Ann Morris               Management        Seminars           Expos
14         David Cox                   Python      Hackathons            Jobs
15     Chelsea Smith                   Python       Workshops        Seminars
16        Corey Beck  Artificial Intelligence    Competitions       Trainings
17      Lisa Roberts                  Finance           Fests  Certifications
18  Christine Potter      Mobile Applications  Certifications         Courses
19      Valerie Yang         Higher Education     Internships        Seminars

In [76]:
event = "Get a System Administration certification from PurpleHat today."

In [90]:
def process_text(event):

  # tokenization  
  tokens =  nltk.word_tokenize(event)
  filtered_sentence = []

  #lemmantization
  for w in tokens:
    wordnet_lemmatizer.lemmatize(w)
    
    # convert to lower
    w.lower()

    # removing stop words
    if w not in stop_words: 
        filtered_sentence.append(w)
          
    # remove punctuations and empty strings
    filtered_sentence = [''.join(c for c in s if c not in string.punctuation) for s in filtered_sentence]
    filtered_sentence = [s for s in filtered_sentence if s]  
 
  return filtered_sentence

In [91]:
process_text(event)

['Get', 'System', 'Administration', 'certification', 'PurpleHat', 'today']